NODE_ENV=development

PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=weather_platform
DB_USER=postgres
DB_PASSWORD=password

WEATHER_API_KEY=your_api_key

NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org